.about-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  /* background-color: pink; */
}

.about-container .left-section {
  position: relative;
  width: 58%;
  height: 100%;
  margin-right: 4%; 
}

.about-container .left-section .header {
  position: relative;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about-container .left-section .paragraph, 
.list-with-text {
    color: var(--slate);
    font-family: var(--font-sans);
    font-family: var(--font-mono);
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;    
}

.item-contaiener{
  position: relative;
  width: 100%;
  height: fit-content;
  margin-top: 30px;
}

.tech-row {
  position: relative;
  width: 90%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.tech-item {
  width: 48%; /* two items per row with some spacing */
  height: fit-content;
  border-radius: 6px;
  margin-top: 10px;
  text-align: start;
}
.about-container .right-section {
  position: relative;
  width: 38%;
  height: 100%;
  margin-top: 80px;
  /* background-color: green; */
}

.right-section-cont {
  position: relative;
  width: 90%;
  height: 200px;
  z-index: 3;
  /* background-color: yellow; */
}

.outer-cont {
  position: absolute;
  width: 90%;
  height: 240px;
  top: 10%;
  left: 10%;
  z-index: 2;
  transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
  /* background-color: red; */
}

.outer-cont img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.blur{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #64ffda;
  opacity: .2;
  transition: opacity 0.3s ease-in-out;
}

.inner-cont{
  position: absolute;
  width: 92%;
  height: 240px;
  top: 15%;
  left: 12%;
  transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
  border: 2px solid #64ffda;
  border-radius: 5px;
}

.right-section-cont:hover > .outer-cont{
  left: 8%;
  top: 8%;
}

.right-section-cont:hover > .outer-cont .blur{
  opacity: 0;
}

.right-section-cont:hover > .inner-cont{
  left: 14%;
  top: 16%;
}