.social-icons-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.social-icon {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 14px 0;
}

.social-icon a {
  color: var(--light-slate);
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon a:hover {
  transform: translateY(-2px);
  color: #64ffda;
}

.vertical-line {
  position: relative;
  width: 1px;
  height: 100px;
  margin-top: 30px;
  background-color: white;
}
